	#lang {
		float: right;
		background-color: #383b43;
		border: solid 1px rgba(144, 144, 144, 0.25);
		border-radius: 4px;
		padding: 2px;
		margin:2px;
		text-align:right;
	}

	#lang img {
		display: inline-block;
	}

	#langsel {
		display: inline-block;
		text-align:left;
		vertical-align:top;
		padding: 4px;
		height: 40px;
		/*override input styles*/
		background-color: rgb(240, 240, 240);
		border: solid 1px rgba(144, 144, 144, 0.25);
		width: auto;
		appearance: auto;
		-o-appearance: auto;
		-webkit-appearance: auto;
		-moz-appearance: auto;
		-ms-appearance: auto;
	}

	#lang noscript {
		display: inline-block;
		vertical-align:top;
		width: auto;
		color: #ffffff;
		text-align: left;
	}
	
	#lang li, #lang a {
		margin: 0px;
		padding: 0px;
		color: #ffffff;
		line-height: clamp(14px, 3vw, 17px);
		font-size: clamp(13px, 3vw, 17px)
	}
	
	#lang ul {
		margin: 0px 2px;
	}

