@charset "UTF-8";

/*
	Payout History page style
*/

	noscript div {
		margin: 0 20%;
		text-align: left;
		font-weight: 700;
	}
	noscript div a {
		text-decoration: underline;
	}

	#histup {
		text-align: left;
		margin-left: 5px;
		margin-bottom: 15px;
		font-weight: 700;
	}
	
	#histcont {
		padding-top: 15px;
		border: solid 1px black !important;
		min-width: 529px;
	}

	#histround {
		margin-top: 2px;
		border-top: solid 1px black !important;
	}
	
	#histround h2 {
		margin-left: 10px;
		text-align: left;
	}
	
	#histrtabs {
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		padding-top: 5px;
	}
	
	#histrtabs div{
		margin: 3px 5px;
		padding: 5px 15px;
		display: inline;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-weight: 400;
		background-color: rgba(100, 100, 100, 0.1);
	}
	
	#histseltab {
		background-color: rgba(220, 220, 220, 0.075) !important;
		border: solid 1px black !important;
		font-weight: 700 !important;
	}
	
	#histdetails {
		margin-left: 5px;
		max-width: 350px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		background-color: rgba(200, 200, 200, 0.075) !important;
	}
	
	#histdetails td {
		padding: 2px;
		text-align: right;
		border-right: solid 1px rgba(144, 144, 144, 0.25);
	}
	
	#histdetails td:first-child {
		text-align: left;
		font-weight: 700;
		max-width: 340px;
	}
	
	#histworkers {
		padding: 10px;
		overflow: hidden;
		max-width: 615px;
		min-width: 510px;
	}

	#histworkerstbl {
		border: solid 1px rgba(144, 144, 144, 0.25);
	}

	#histselhead {
		border-top: solid 1px black !important;
		border-bottom: solid 1px black !important;
		background-color: rgba(200, 200, 200, 0.075) !important;
		background-image: url('../images/sortarrow-dw.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	#histselheadasc {
		border-top: solid 1px black !important;
		border-bottom: solid 1px black !important;
		background-color: rgba(200, 200, 200, 0.075) !important;
		background-image: url('../images/sortarrow-up.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	#histworkerstbl th{
		
		background-color: rgba(100, 100, 100, 0.075);
		border-right: solid 1px rgba(144, 144, 144, 0.25);
		text-align: right;
	}

	#histworkerstbl th:first-child {
		text-align: left;
	}
	
	#histworkerstbl td{
		padding: 2px;
		border-right: solid 1px rgba(144, 144, 144, 0.25);
		text-align: right;
	}
	
	#histworkerstbl td:first-child {
		text-align: left;
	}
