/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

	#removespacer{
		height: 600px;
	}
	body, input, select, textarea {
		font-size: 12pt;
	}
